

 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->


 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->

  <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

<form name="add_event" action="{{url_for('add_points')}}" method="POST">

    <dl>
      
      <select name="city">
    <option value="NY">New York</option>
    <option value="SF">San Fransisco</option>

    </select>

      <dd><input type=submit value=Done>

</form>


 <div id="map" style = "height : 600px; width: 1280px"></div>

   <script>
   var map;
    {% if city == 'NY'%}
      map = L.map('map').setView(["40.8", "-74"], 11);  
        
    {% elif city == 'SF'%}
    map = L.map('map').setView(["37.7", "-122.5"], 11);  
       
    {% else %}
    map = L.map('map').setView(["40", "-90"], 4);  
       
    {%endif%}
    L.tileLayer('http://{s}.tile.cloudmade.com/e7b61e61295a44a5b319ca0bd3150890/997/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      }).addTo(map);   

        {%for rew in codes%}
           var marker = L.marker([{{rew[0]}}, {{rew[1]}}], {color: "red"}).addTo(map);
       {%endfor%}



   </script>
